@import url(https://fonts.googleapis.com/css?family=Ubuntu);


body {
	font-family: 'Ubuntu', sans-serif;
	width: 100%;

}

form {
	width: 80%;
	text-align: left;
	margin: auto;
}

form input {
	margin: 10px auto;
	display: block;
	width: 100%;
	max-width: 500px;
}

