<!DOCTYPE HTML>

<html ng-app="formSubmission">
<head>
	<title>Our cool website</title>
</head>

	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="js/app.js"></script>

<body ng-controller="formCtrl">

<form>
	<input type="text" ng-model="email" name="email" placeholder="Email...">
	<input type="text" ng-model="firstName" name="firstName" placeholder="First Name...">
	<input type="text" ng-model="lastName" name="lastName" placeholder="Last Name...">
	<input type="text" ng-model="birthday" name="birthday" placeholder="Birthday...">
	<input type="text" ng-model="password" name="password" placeholder="Password...">
	<input type="text" ng-model="confirmPassword" name="confirmPassword" placeholder="Confirm Password...">
</form>


</body>



</html>